.content{
    background-image: radial-gradient(circle at 84% 82%, rgba(217, 217, 217,0.03) 0%, rgba(217, 217, 217,0.03) 21%,transparent 21%, transparent 100%),radial-gradient(circle at 75% 56%, rgba(3, 3, 3,0.03) 0%, rgba(3, 3, 3,0.03) 30%,transparent 30%, transparent 100%),radial-gradient(circle at 74% 53%, rgba(153, 153, 153,0.03) 0%, rgba(153, 153, 153,0.03) 95%,transparent 95%, transparent 100%),radial-gradient(circle at 86% 43%, rgba(209, 209, 209,0.03) 0%, rgba(209, 209, 209,0.03) 83%,transparent 83%, transparent 100%),radial-gradient(circle at 64% 88%, rgba(192, 192, 192,0.03) 0%, rgba(192, 192, 192,0.03) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 73% 77%, rgba(205, 205, 205,0.03) 0%, rgba(205, 205, 205,0.03) 18%,transparent 18%, transparent 100%),radial-gradient(circle at 57% 51%, rgba(161, 161, 161,0.03) 0%, rgba(161, 161, 161,0.03) 64%,transparent 64%, transparent 100%),radial-gradient(circle at 40% 84%, rgba(115, 115, 115,0.03) 0%, rgba(115, 115, 115,0.03) 14%,transparent 14%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
    
    position: fixed;
    margin-left: 18.6%;
    top:3pc;
    width:81.4%;
    height:88%;
    color: #fff;
    padding: 20px;
    overflow-y: scroll;
    padding: 20px;
}
.addmoviebutton{
    color: white;
    background-color: darkcyan;
    border: none;
    border-radius: 25px;
    font-weight: 500;
    height: 50px;
    width: 15%;
    margin-left: 50vw;
}
.close_btn{
    position: fixed;
    border-radius: 30px;
    background-color: #fff;
}


.container_view {
    margin: 2pc 18pc;
}

.container_detail{
    margin: 5pc 9pc;
}



/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  background: #000;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1; 
} */
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 2pc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}