
.container_slider {
    max-width: 860px;
    height: 500px;
    margin: 100px auto 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  @media screen and (max-width: 700px){
    .container_slider {
      margin: 100px 10px 0;
    }
  }
  